[submodule "Lib/stmlibs"]
	path = Lib/stmlibs
	url = git@github.com:squadracorsepolito/stmlibs.git
[submodule "Lib/SCan"]
	path = Lib/SCan
	url = https://github.com/squadracorsepolito/SCan.git
	branch = build
